# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# dotenv environment variable files
.env

# Output directories
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.idea/
.vscode/

# Other specific files and directories
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
